.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__timer {
    display: flex;
  }
  &__block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    span {
      font-size: rem(16);
      font-weight: 400;
      line-height: rem(32);
      margin-bottom: rem(-16);
    }
    b {
      margin-top: auto;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      font-size: rem(64);
      font-weight: 400;
      line-height: rem(72);
    }
  }
}
