.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.375rem;
  height: 3rem;
  border-radius: rem(12);
  background-color: $btnColor;
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.8;
  }
}
